@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-container {
    background-color: #282c34;
    min-height: 100vh;
    padding: 1em;
    color:  black;
}

button.sign-up {
    /* font-family: 'Press Start 2P', cursive; */
    /* font-size: 12px; */
    background-color: white;
    color: black;
    padding: 1em;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    color: white;
    background-image: url("../../assets/green-background-login.jpg");
    background-size: cover;
    background-position: center top;
    background-color: #09223d;
}

.login-header-img {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 100%;
    background-image: url("../../assets/care_insights_logo.png");
}