.container {
    /* color: white; */
    background-image: url("../../assets/green-background-faded.jpg");
    background-size: cover;
    background-position: center top;
    opacity: 1;
    z-index: -1;
    /* background-color: white; */
    min-height: 100vh;
}

.childContainer {
    z-index: -1;
    opacity: 1;
}