.container {
    /* color: white; */
    background-image: url("../../assets/green-background-faded.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    z-index: -1;
    /* background-color: white; */
    min-height: 100vh;
}

.childContainer {
    z-index: -1;
    opacity: 1;
}